body {
    min-width: 100%;
    width: 100%;
}

.wrapper {
    width: 600px;
    height: 600px;
}

.header {
    width: 100%;
    height: 150px;
    background-color: #ffff00;
}

.second-stage {
    width: 100%;
    height: 150px;
}

.second-left {
    float: left;
    width: 200px;
    height: 150px;
    background-color: #33ffff;
}

.second-center {
    float: left;
    width: 200px;
    height: 150px;
    background-color: #ff0000;
}

.second-right {
    float: left;
    width: 200px;
    height: 150px;
    background-color: #0000ff;
}

.third-stage {
    width: 100%;
    height: 150px;
}

.third-left {
    float: left;
    width: 450px;
    height: 150px;
    background-color: #00ff00;
}

.third-right {
    float: left;
    width: 150px;
    height: 150px;
    background-color: #ff00ff;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: #33ffff;
}