body {
    min-height: 100%;
    height: 100%;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #141f40;
}

.contant {
    width: 100%;
    height: 250px;
}

.center {
    float: right;
    width: 250px;
    height: 250px;
}

.left {
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.center-left {
    float: left;
}

.center-top {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}

.center-center {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}

.center-right {
    float: right;
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}

.center-under {
    clear: both;
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #d98d30;
}

